@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap");
* {
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  color: #131313;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100vw;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  color: #131313;
  text-decoration: none;
}

p {
  line-height: 1.5rem;
}

.nav-container {
  position: fixed;
  width: 100vw;
}

header {
  background-color: #FBFBFB;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15vw;
  height: 15vh;
  box-shadow: 0 0 15px 0 rgba(19, 19, 19, 0.15);
}
header .logo {
  font-size: 1.3em;
  font-weight: 900;
  line-height: 0.9;
}
header .logo small {
  font-weight: 400;
  font-size: 0.7em;
}
header ul {
  display: inline-flex;
}
header ul li {
  padding-left: 2vw;
}

.icon-links img {
  width: 1.7em;
  padding: 0.15em;
  border: 0.2rem solid #ffffff;
  border-radius: 100%;
  transition: border-color 0.5s ease-out 50ms;
}
.icon-links img:hover {
  border-color: #131313;
}

.hero-page {
  height: 80vh;
  width: 71%;
  text-align: left;
  padding: 20vh 15vw 0 15vw;
}
.hero-page .hero {
  height: 80%;
  width: 100%;
  display: inline-grid;
  grid-template-columns: 45% auto;
  grid-template-rows: 100%;
  -moz-column-gap: 40px;
       column-gap: 40px;
  padding: 2rem 0 1rem 0;
}
.hero-page .hero .phrase {
  text-align: left;
  font-size: 1em;
  font-weight: 900;
  padding-top: 20%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.hero-page .hero .phrase .valor {
  color: #1679EC;
}
.hero-page .hero img {
  height: 85%;
  width: 100%;
  border-radius: 1rem;
  margin: auto 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 100% 0;
     object-position: 100% 0;
}
.hero-page .secondary-nav {
  display: flex;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.hero-page .secondary-nav a:hover {
  color: #1679EC;
}

.about {
  padding: 0 15vw 7rem 15vw;
  text-align: center;
}
.about .about-flex {
  display: inline-flex;
  padding: 1.5rem 10vw 0 10vw;
}
.about h1 {
  margin: auto;
  font-size: xx-large;
}
.about p {
  text-align: left;
  padding-left: 2rem;
  padding-right: 3rem;
}
.about .profile {
  height: 60px;
  width: 60px;
  margin: auto;
  flex-shrink: 0;
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 40%;
     object-position: 50% 40%;
  padding: 0.15em;
  border: 0.2rem solid #ffffff;
  transition: border-color 0.5s ease-out 50ms;
}
.about .profile:hover {
  padding: 0.15em;
  border: 0.2rem solid #3D96FF;
  border-radius: 100%;
}

.skills {
  padding: 0 12vw 7rem 12vw;
}
.skills h1 {
  padding-bottom: 1.5rem;
  font-size: xx-large;
  text-align: center;
}
.skills ul {
  display: flex;
  -moz-column-gap: 5%;
       column-gap: 5%;
  width: 80%;
  margin: auto;
}
.skills ul li {
  box-sizing: border-box;
  padding: 1.2rem;
  background-color: #FBFBFB;
  border-radius: 0.8rem;
  box-shadow: 2px 2px 12px 0 rgba(19, 19, 19, 0.15), inset 5px 5px 15px 0 white;
}
.skills ul li:hover {
  color: #FBFBFB;
  background: rgb(22, 121, 236);
  background: linear-gradient(30deg, rgb(22, 121, 236) 0%, rgb(15, 148, 242) 17%, rgb(0, 193, 255) 86%);
  box-shadow: 2px 2px 12px 0 rgba(19, 19, 19, 0), inset 3px 3px 20px 0 rgba(22, 121, 236, 0.5);
}
.skills ul li:hover .skill-sub {
  color: #FBFBFB;
}
.skills .skill-title {
  font-size: large;
}
.skills .skill-sub {
  font-size: x-small;
  font-weight: 700;
  color: #3D96FF;
}
.skills .skill-desc {
  padding-top: 1rem;
}

footer {
  background: rgb(22, 121, 236);
  background: linear-gradient(50deg, rgb(22, 121, 236) 0%, rgb(15, 148, 242) 17%, rgb(0, 193, 255) 86%);
  box-sizing: border-box;
  padding: 6vh 15vw;
  text-align: center;
  color: #FBFBFB;
  width: 100vw;
}
footer .quote {
  padding: 5rem 0 6rem 0;
}
footer a {
  color: #FBFBFB;
}

@media screen and (max-width: 1050px) {
  .hero-page .hero {
    height: 70%;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 2rem 0 1rem 0;
  }
  .hero-page .hero .phrase {
    padding-top: 0%;
  }
  .hero-page .hero img {
    height: 40%;
    width: 100%;
    border-radius: 1rem;
    margin: 0;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 100% 0;
       object-position: 100% 0;
  }
  .about .about-flex {
    padding: 0.5rem 0 0 0;
    flex-direction: column;
  }
  .about p {
    padding: 1.5rem 0 1rem 0;
  }
  .skills ul {
    padding-left: 0;
    padding-right: 0;
    flex-direction: column;
    margin: auto;
    width: 100%;
  }
  .skills ul li {
    margin: 10px 0;
    width: 100%;
  }
  .secondary-nav {
    place-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
}/*# sourceMappingURL=main.css.map */