@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

* {
    margin: 0;
}


body {
    font-family: 'Inter', sans-serif;
    color: #131313;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    color: #131313;
    text-decoration: none;
}

p {
    line-height: 1.5rem;
}

.nav-container {
    position: fixed;
    width: 100vw;
}

header {
    background-color: #FBFBFB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15vw;
    height: 15vh;
    
    box-shadow: 0 0 15px 0 rgba($color: #131313, $alpha: 0.15);
    
    .logo {
        font-size: 1.3em;
        font-weight: 900;
        line-height: 0.9;
        small {
            font-weight: 400;
            font-size: 0.7em;
        }
    }
    
    ul {
        display: inline-flex;
        li {
            padding-left: 2vw;
        }
    }
}

.icon-links {
    img {
        width: 1.5em;
        padding: 0.15em;
        border: 0.2rem solid #ffffff;
        border-radius: 100%;
        transition: border-color 0.5s ease-out 50ms;
    }
    img:hover {
        border-color: #131313;
    }
}


.hero-page {
    height: 80vh;
    width: 71%;
    text-align: left;
    padding: 20vh 15vw 0 15vw;
    
    .hero {
        height: 80%;
        width: 100%;
        display: inline-grid;
        grid-template-columns: 45% auto;
        grid-template-rows: 100%;
        column-gap: 40px;
        padding: 2rem 0 1rem 0;
        
        .phrase {
            text-align: left;
            font-size: 1em;
            font-weight: 900; 
            padding-top: 20%;
            height: fit-content;
            
            .valor {
                color: #1679EC;
            }
        }

        img {
            height: 85%;
            width: 100%;
            border-radius: 1rem;
            margin: auto 0;
            object-fit: cover;
            object-position: 100% 0;
        }
        
    }
    
    .secondary-nav {
        display: flex;
        column-gap: 8px;
        a:hover {
            color: #1679EC;
        }
    }
}

.about {
    padding: 0 15vw 7rem 15vw;
    text-align: center;
    
    .about-flex {
        display: inline-flex;
        padding: 1.5rem 11vw 0 11vw;
    }

    h1 {
        padding-right: 1.5rem;
        margin: auto;
        font-size: xx-large;
    }
    
    p {
        text-align: left;
        padding-left: 2rem;
    }

    .profile {
        height: 60px;
        width: 60px;
        margin: auto;
        flex-shrink: 0;
        border-radius: 100%;
        object-fit: cover;
        object-position: 50% 40%;
        padding: 0.15em;
        border: 0.2rem solid #ffffff;
        transition: border-color 0.5s ease-out 50ms;
    }

    .profile:hover {
        padding: 0.15em;
        border: 0.2rem solid #3D96FF;
        border-radius: 100%;
    }
}

.skills {
    padding: 0 15vw 7rem 15vw;

    h1 {
        padding-bottom: 1.5rem;
        font-size: xx-large;
        text-align: center;
    }

    ul {
        display: flex;
        column-gap: 5%;
        width: 80%;
        margin: auto;

        li {
            box-sizing: border-box;
            padding: 1.2rem;
            background-color: #FBFBFB;
            border-radius: 0.8rem;
            box-shadow: 2px 2px 12px 0 rgba($color: #131313, $alpha: 0.15), inset 5px 5px 15px 0 rgba($color: white, $alpha: 1);
        }
        li:hover {
            color: #FBFBFB;
            background: rgb(22,121,236);
            background: linear-gradient(30deg, rgba(22,121,236,1) 0%, rgba(15,148,242,1) 17%, rgba(0,193,255,1) 86%);
            box-shadow: 2px 2px 12px 0 rgba($color: #131313, $alpha: 0), inset 3px 3px 20px 0 rgba($color: rgb(22,121,236), $alpha: 0.5);
            .skill-sub {
                color: #FBFBFB;
            }
        }
    }

    .skill-title {
        font-size: large;
    }

    .skill-sub {
        font-size: x-small;
        font-weight: 700;
        color: #3D96FF;
    }

    .skill-desc {
        padding-top: 1rem;
    }
}

footer {
    background: rgb(22,121,236);
    background: linear-gradient(50deg, rgba(22,121,236,1) 0%, rgba(15,148,242,1) 17%, rgba(0,193,255,1) 86%);
    box-sizing: border-box;
    padding: 6vh 15vw;
    text-align: center;
    color: #FBFBFB;

    .quote {
        padding: 5rem 0 6rem 0;
    }

    a {
        color: #FBFBFB;
    }
}

.cta, .projects, .icon-links__footer, .scroll {
    // hiding some features not relevant to this project
    display: none;
}

@media screen and (max-width: 1050px) {
    .hero-page {
        .hero{
            height: 70%;
            display: inline-flex;
            flex-wrap: wrap;
            gap: 10px;
            padding: 2rem 0 1rem 0;
            
            .phrase {
                padding-top: 0%;
            }

            img {
                height: 40%;
                width: 100%;
                border-radius: 1rem;
                margin: 0;
                object-fit: cover;
                object-position: 100% 0;
            }
        }
    }
    .about {
        .about-flex {
            padding: 1.5rem 0 0 0;
        }
    }

    .skills {
        ul {
            padding-left: 0;
            padding-right: 0;
            flex-direction: column;
            margin: auto;
            width: 100%;
            li {
               margin: 10px 0;
               width: 100%;
           }
        }
    }

    .secondary-nav {
        place-content: center;
    }
}